.PaddedContainer {
  width: 70%;
  margin: 0 auto;
  padding: 5em;
}

.Container {
  width: 70%;
  margin: 0 auto;
}

.Content {
  padding: 5em;
}

header {
  padding-bottom: 2.5em;
}

h1 {
  margin: 0;
}